{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"esmodules": true,
					"node": true
				}
			}
		]
	],
	"plugins": [
		[
			"babel-plugin-dotenv",
			{
				"replacedModuleName": "babel-dotenv"
			}
		]
	]
}
